{% extends 'base.html.twig' %}
{% set title %}{{ player.name }} - {{ player.link }}{% endset %}

{% block body %}
<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <!-- Profile Sidebar -->
      {% include 'sidebar.html.twig'  with {'active': 'calculator'}%}
      <!-- End Profile Sidebar -->

      <!-- Profile Content -->
      <div class="col-lg-9">
        <!-- Overall Statistics -->
        {#<div class="row g-mb-40">
          <div class="col-md-6 g-mb-30 g-mb-0--md">
            <div class="g-bg-cyan g-color-white g-pa-25">
              <header class="d-flex text-uppercase g-mb-40">
                <i class="icon-people align-self-center display-4 g-mr-20"></i>

                <div class="g-line-height-1">
                  <h4 class="h5">Overal Visits</h4>
                  <div class="js-counter g-font-size-30" data-comma-separated="true">52147</div>
                </div>
              </header>

              <div class="d-flex justify-content-between text-uppercase g-mb-25">
                <div class="g-line-height-1">
                  <h5 class="h6 g-font-weight-600">Last Week</h5>
                  <div class="js-counter g-font-size-16" data-comma-separated="true">1385</div>
                </div>

                <div class="text-right g-line-height-1">
                  <h5 class="h6 g-font-weight-600">Last Month</h5>
                  <div class="js-counter g-font-size-16" data-comma-separated="true">6048</div>
                </div>
              </div>

              <h6 class="g-mb-10">Project Completeness <span class="float-right g-ml-10">72%</span></h6>
              <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
                <div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: 72%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="g-font-size-12">11% less than last month</small>
            </div>
          </div>

          <div class="col-md-6">
            <div class="g-bg-purple g-color-white g-pa-25">
              <header class="d-flex text-uppercase g-mb-40">
                <i class="icon-layers align-self-center display-4 g-mr-20"></i>

                <div class="g-line-height-1">
                  <h4 class="h5">Overal Views</h4>
                  <div class="js-counter g-font-size-30" data-comma-separated="true">324056</div>
                </div>
              </header>

              <div class="d-flex justify-content-between text-uppercase g-mb-25">
                <div class="g-line-height-1">
                  <h5 class="h6 g-font-weight-600">Last Week</h5>
                  <div class="js-counter g-font-size-16" data-comma-separated="true">26904</div>
                </div>

                <div class="text-right g-line-height-1">
                  <h5 class="h6 g-font-weight-600">Last Month</h5>
                  <div class="js-counter g-font-size-16" data-comma-separated="true">124766</div>
                </div>
              </div>

              <h6 class="g-mb-10">Project Completeness <span class="float-right g-ml-10">89%</span></h6>
              <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
                <div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: 89%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="g-font-size-12">16% higher than last month</small>
            </div>
          </div>
        </div>#}
        <!-- End Overall Statistics -->

        <!-- Product Table Panel -->
        <div class="card border-0">
          <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
            <h3 class="h6 mb-0">
                <i class="icon-directions g-pos-rel g-top-1 g-mr-5"></i> Resultats
              </h3>
          </div>
          <div class="card-block g-pa-0">
            <blockquote>
              Pour retrouver ce resultat, utilisez le lien suivant :<br> <a href="{{ url('calcule') }}/{{ player.link }}" class="g-color-darkred">{{ url('calcule') }}/{{ player.link }}</a>
            </blockquote>
          </div>
          <div class="card-block g-pa-0">
            <div class="table-responsive">
              <!-- Table Bordered -->
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20"></th>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Attack</th>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Defense</th>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Power</th>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Health</th>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for unitType in unitTypes %}
                <tr>
                  <td class="g-font-weight-800 g-brd-darkred g-pa-20 g-color-darkred g-bg-white ">{{ unitType.name }}</td>
                  {% for result in calculatedArmy[unitType.name] %}
                    <td class="g-color-black g-brd-darkred g-pa-20">
                      <span class="g-font-weight-800">{{ result|number_format(0, '.', ' ') }}</span>
                    </td>
                  {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                  <td class="g-font-weight-800 g-brd-darkred g-pa-20 g-color-darkred g-bg-white ">TOTAL</td>
                  <td class="g-color-darkred g-brd-darkred g-font-weight-800 g-font-size-18 g-pa-20">{{ calculatedArmy.totalAttack|number_format(0, '.', ' ')  }}</td>
                  <td class="g-color-darkred g-brd-darkred g-font-weight-800 g-font-size-18 g-pa-20">{{ calculatedArmy.totalDefense|number_format(0, '.', ' ') }}</td>
                  <td class="g-color-darkred g-brd-darkred g-font-weight-800 g-font-size-18 g-pa-20">{{ calculatedArmy.totalPower|number_format(0, '.', ' ') }}</td>
                  <td class="g-color-darkred g-brd-darkred g-font-weight-800 g-font-size-18 g-pa-20">{{ calculatedArmy.totalHealth|number_format(0, '.', ' ') }}</td>
                  <td class="g-color-darkred g-brd-darkred g-font-weight-800 g-font-size-18 g-pa-20">{{ calculatedArmy.totalQuantity|number_format(0, '.', ' ') }}</td>
                </tr>
                </tbody>
              </table>
              <a href="{{ path('homepage') }}" class="btn btn-md u-btn-3d u-btn-darkred g-mr-10 g-mb-15" >Retour à l'accueil</a>
              <!-- End Table Bordered -->
            </div>
          </div>
        </div>
        <!-- End Product Table Panel -->
      </div>
      <!-- End Profile Content -->
    </div>
  </div>
</section>
{% endblock %}
