{% extends 'base.html.twig' %}
{% set title %}Liste des armées{% endset %}

{% block body %}
<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <!-- Profile Sidebar -->
      {% include 'sidebar.html.twig' with {'active': 'listArmy'}%}
      <!-- End Profile Sidebar -->
      <!-- Profile Content -->

        <!-- Product Table Panel -->
        <div class="card border-0">
          <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
            <h3 class="h6 mb-0">
                <i class="icon-directions g-pos-rel g-top-1 g-mr-5"></i> Liste
              </h3>
          </div>
          <div class="card-block g-pa-0">
            <div class="table-responsive">
              <!-- Table Bordered -->
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Player Name</th>
                  <th class="g-brd-white g-color-white g-bg-darkred g-pa-20">Lien vers l'armée</th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                  {% if is_granted('ROLE_ADMIN') %}
                    {% if player.name|length > 0%}
                      <tr>
                        <td class="g-font-weight-800 g-brd-darkred g-pa-20 g-color-darkred g-bg-white ">
                          <span class="u-label g-bg-darkred g-rounded-20 g-px-15 g-mr-10 g-mb-15 align-middle">
                            {% if player.id in userPlayer %}
                            <i class="icon-graduation"></i>
                            {% endif %}
                            {{ player.name }}
                          </span>

                          </td>
                        <td class="g-font-weight-800 g-brd-darkred g-pa-20 g-color-darkred g-bg-white">
                          <a href="{{ path('calcul_link',{'link':player.link}) }}" >{{ player.link }}</a>
                        </td>
                      </tr>
                    {% endif %}
                {% else %}
                  {% if player.name|length > 0 and player.id not in userPlayer %}
                    <tr>
                      <td class="g-font-weight-800 g-brd-darkred g-pa-20 g-color-darkred g-bg-white ">
                          {{ player.name }}
                      </td>
                      <td class="g-font-weight-800 g-brd-darkred g-pa-20 g-color-darkred g-bg-white">
                        <a href="{{ path('calcul_link',{'link':player.link}) }}" >{{ player.link }}</a>
                      </td>
                    </tr>
                  {% endif %}
                  {% endif %}

                {% endfor %}
                </tbody>
              </table>
              <a href="{{ path('homepage') }}" class="btn btn-md u-btn-3d u-btn-darkred g-mr-10 g-mb-15" >Retour à l'accueil</a>
              <!-- End Table Bordered -->
            </div>
          </div>
        </div>
        <!-- End Product Table Panel -->
      </div>
      <!-- End Profile Content -->
    </div>
  </div>
</section>
{% endblock %}
